.general-ul-row {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 20px;
    align-items: center;
    margin-left: 29.8%;
    margin-bottom: 8px;
}
.general-ul-row li{
    font-size: 20px;
}
.general-li {
    color: white;
    background-color: #6AB4F8;
    /* margin-left: 30%; */
    padding:10px;
    border-radius: 20px 20px 20px 20px;
}

.general-form-container {
    width: 60%;
    font-family: sans-serif;
    color: #1b1a1a;
    font-size: small;
    background-color: #f5f7f0;
    padding: 20px;
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.genral-form-flexbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.genral-form-flexbox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.genral-form-flexbox input,
.genral-form-flexbox select {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.general-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.general-btn button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6AB4F8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.general-btn button:last-child {
    background-color: #6AB4F8;
}

.general-btn button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .general-btn {
        flex-direction: column;
    }

    .general-btn button {
        margin: 10px 0;
        width: 100%;
    }
}