h3 {
    margin-left: 32%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7D7D7D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.basic-ul-row {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border: 1px solid rgb(186, 184, 184);
    border-radius: 20px;
    align-items: center;
    margin-left: 29.8%;
    margin-bottom: 5px;
}
.basic-ul-row li{
    font-size: 20px;
}

.basic-li {
    color: white;
    background-color: #93c2ee;
    padding: 10px ;
    border-radius: 20px 20px 20px 20px;
}

.basic-form-container {
    width: 60%;
    font-family: sans-serif;
    color: #1b1a1a;
    font-size: small;
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.basic-form-container {
    background-color: #f5f7f0;
    padding: 20px;
}

.basic-form-flexbox {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.basic-form-flexbox>div {
    width: 45%;
    margin-bottom: 20px;
}

.basic-form-flexbox>div:last-child {
    display: flex;
    justify-content: flex-end;
}

.basic-form-flexbox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.basic-form-flexbox input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

.basic-form-flexbox select {
    width: 108%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

.basic-form-flexbox textarea {
    width: 107%;
    /* padding: 10px; */
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

.basic-form-flexbox button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6AB4F8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.basic-form-flexbox button:last-child {
    background-color: #6AB4F8;
}

.basic-form-flexbox button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .basic-form-flexbox>div {
        width: 100%;
    }
}
@media screen and (max-width: 367px) {
    .basic-form-flexbox>div {
        width: 100%;
    }
}

[type="submit"] {
    cursor: pointer;
}