*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    border: 1px solid black;
    margin: auto;
    margin-top: 130px;
}
h1, p{
    text-align: center;
    margin: 15px;
}
.form_data{
    margin: 20px;
}

input, .btn{
    width: 70%;
    padding: 15px;
    margin-top: 20px;
    margin-left: 110px;
}
input:hover{
    border: 1px solid blue;
}
.btn{
background-color: rgb(105, 105, 239);
color: white;
font-size: 20px;
}
h3, button{
    text-align: center;
    padding: 20px;
}